nav {
    width: 100%;
    /* background:#ee5c5c ; */
    color: #010101;
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    width: 180px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    /* color: #020202; */
}

.btn {
    background: #020202;
    color: #fff9f9;
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.btn:hover {
    background: #d82424;
    color: #faf3f3;
    font-weight: 500;
}

.container {
    padding: 0 10%;
}

img {
    /* width: 20px; */
    height: 40px;
}

a.active {
    color: red;
}

nav.scrolled {
    background-color: #fff;
    transition: background-color 200ms linear;
}

.dark_nav {
    background-color: #a7a3a3;
    transition: 0.5s;
}

@media (max-width: 1000px) {
    .logo {
        width: 120px;
    }

    .nav ul li {
        margin: 10px 15px;
    }

}
.menu-icon{
    display: none;
}

@media (max-width: 840px) {
    nav{
        padding: 15px 0;
    }

    .container {
        padding: 0 6%;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        background: #a7a3a3;
        bottom: 1;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 30px 40px;
        
    }
    .menu-icon{
        margin-top: 20px;
        display: block;
        width: 40px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
    .btn{
        padding: 10px 15px;
        font-size: 18px;

    }
}